{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
<div>
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div style="color: green;">
      <!-- app_micro_post_show_one is the route so hrefs use routes in the same way hrefs use links
      The path here is referenced in the showOne() method from the MicroPost.php controller file-->
        <a href="{{ path('app_micro_post_show_one', {post : post.id}) }}">
        {{post.title}}
        </a>
      </div> 
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
   <a href="{{ path('app_micro_post_add') }}">Return to new post page</a>
</div>
{% endblock %}
