{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
<div>
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div style="color: blue;">
      <!-- app_micro_post_show is the route so hrefs use routes in the same way hrefs use links-->
        <a href="{{ path('app_micro_post_show', {post : post.id}) }}">
        {{post.title}}
        </a>
      </div> 
      {{ include('hello/_message.html.twig', {message: message})}}
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>
{% endblock %}
