{% extends 'base.html.twig' %}

{% block body %}
<div> 
    <b>
     {{message.message}}
    {{ include('hello/_message.html.twig', {message: message})}}
    <a href="{{ path('app_index') }}">Return home</a>
    </b>
</div>
{% endblock %}